<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Sistema de Autenticação usando Restful com Angular e NodeJS</strong>
            </div>
            <div class="panel-body">
                <p>Neste exemplo você tem as seguintes opções:</p>
                <ul>
                    <li>Signin</li>
                    <li>Signup</li>
                    <li>Logout</li>
                    <li>Clique no link "Me" quando você estiver autenticado</li>
                </ul>
            </div>
        </div>
    </div>
</div>